{% for customer in customers %}
<table>
	<tr>
		<td>ID</td>
		<td>{{ customer.id }}</td>
	</tr>
	<tr>
		<td>First name</td>
		<td>{{ customer.firstName }}</td>
	</tr>
	<tr>
		<td>Last name</td>
		<td>{{ customer.lastName }}</td>
	</tr>
	<tr>
		<td>Email address</td>
		<td>{{ customer.emailAddress }}</td>
	</tr>
</table>
<hr />
{% endfor %}
